

Click here for the <a href="/index">Weather page</a>
<br>
Click here for the <a href="/trains">Trains page</a>

<br>
<h2>UK Headlines </h2>
<hr>
<br>


{{#each stories}}
<ul style="list-style-type:none;">
    <li style="font-weight: bold">{{this.title}}</li>
    <li><a href="{{this.url}}" target="_blank">{{this.url}}</a></li>
</ul>
{{/each}}

<br><br><br><br><br>

